#askPermission {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.hiddenCode {
  display: none;
}

button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.selected {
  background-color: blue;
  color: white;
}
.unselected {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.maillage {
  color: green;
  background-color: white;
  border: solid 2px green;
  font-size: 1.2rem;
}
.simulation {
  background-color: green;
  color: white;
  font-size: 1.2rem;
}
.clear {
  color: red;
  background-color: white;
  border: solid 2px red;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.container {
  display: flex;
  width: fit-content;
  position: relative;
  margin: 1rem;
  padding: 1rem;
}
.container > p {
  position: absolute;
  top: -1rem;
  display: flex;
  margin: 0;
  padding: 0 1rem;
  background: white;
  font-size: 1.5rem;
}
.windControl {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;
  margin-right: 2rem;
}
.windControl button {
  height: 40px;
  margin: 5px;
  padding: 0;
  text-align: center;
}

label {
  font-size: 1.2rem;
  display: block;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.borders {
  border: solid 2px gray;
  border-radius: 2rem;
}
.borders > p {
  left: 2rem;
}
.noBorder > p {
  left: 0rem;
}

.parameters {
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.penOptions {
  display: inline-block;
  vertical-align: top;
}

.penOptions input {
  display: block;
}

.animation {
  position: relative;
  text-align: center;
}
.animation canvas {
  position: absolute;
  top: 1rem;
  opacity: 0;
}
.visible {
  opacity: 1 !important;
}
.images {
  margin-left: 2rem;
}
.images div {
  display: none;
}
.images .visible {
  display: inline-block;
}
