#askPermission {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.hiddenCode {
  display: none;
}

button,
#meshDownload {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.selected {
  background-color: blue;
  color: white;
}
.unselected {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.maillage {
  color: green;
  background-color: white;
  border: solid 2px green;
  font-size: 1.2rem;
}
.simulation {
  background-color: green;
  color: white;
  font-size: 1.2rem;
}
.clear {
  color: red;
  background-color: white;
  border: solid 2px red;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.container {
  display: flex;
  position: relative;
  margin: 1rem;
  padding: 1rem;
}
.container > p {
  position: absolute;
  top: -1rem;
  display: flex;
  margin: 0;
  padding: 0 1rem;
  background: white;
  font-size: 1.5rem;
}
.windControl {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;
  margin-right: 2rem;
}
.windControl button {
  height: 40px;
  margin: 5px;
  padding: 0;
  text-align: center;
}

label {
  font-size: 1.2rem;
  display: block;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.borders {
  margin-top: 3rem !important;
  padding-top: 3rem !important;
  border-top: solid 3px gray;
}
.borders > p {
  left: 2rem;
}
.noBorder > p,
.righBorder > p {
  left: 0rem;
}
.righBorder {
  border-right: solid 2px gray;
}

.penOptions {
  display: inline-block;
  vertical-align: top;
}

.penOptions input {
  display: block;
}

.animation {
  position: relative;
  text-align: center;
}
.animation canvas {
  position: absolute;
  top: 1rem;
  opacity: 0;
  width: 100%;
}
#canvas_1 {
  top: 0;
  position: inherit;
}
.animation .visible {
  opacity: 1 !important;
}
.images {
  margin-left: 2rem;
}
.images div {
  display: none;
}
.images .visible {
  display: inline-block;
}

#interaction {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
footer {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.results > div {
  flex: 1 1;
}
.results {
  padding-top: 3rem !important;
}
.results > .container {
  margin-top: 0 !important;
  padding-left: 0;
  padding-right: 0;
}
canvas {
  /* margin-bottom: auto; */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

pre {
  background-color: #1b1b1b;
  color: white;
  font-style: monospace;
}
